@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after { margin: 0; padding: 0; }

.picture-box {
  position: relative;
  filter: drop-shadow(0 0 30px rgb(245, 245, 245));
}

.picture-box img {
  border-radius: 10px;
}

.picture-text {
  position: absolute; 
  align-items: flex-end;
  justify-content: left;
  display: flex;
}

/* ************************ BACKGROUNDS ************************* */
.root {
  min-height: 100vh;
  background-image: url("../style/images/bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.App {
  min-height: 100vh;
  min-width: 100vh;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.about-page-bkgd {
  color: whitesmoke;
}



/* ********************** BUTTONS ************************* */

.region-button {
  font-size: 20px;
  background-color: rgba(191, 207, 190, 0.211);
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: 'Alegreya';
}

.region-button:hover {
  background-color: rgba(85, 191, 77, 0.211);
}

.welcome-button {
  font-size: 20px;
  background-color: rgba(93, 202, 85, 0.341);
  margin-top: 5px;
  font-family: 'Alegreya';
}

.welcome-button:hover {
  background-color: rgba(85, 191, 77, 0.211);
}

.back-to-welcome {  
  font-size: 20px;
  background-color: rgba(93, 202, 85, 0.341);
  margin-top: 20px;
  font-family: 'Alegreya';
}

.back-to-welcome:hover {
  box-shadow: 300px;
  font-family: 'Alegreya';
  background-color: rgba(85, 191, 77, 0.211);
}

.delete-button {
  font-size: 20px;
  background-color: rgba(191, 207, 190, 0.211);
  margin-top: 5px; 
  margin-bottom: 5px;
  font-family: 'Alegreya';
}

.delete-button:hover {
  background-color: rgba(30, 30, 164, 0.855);
}

.upload-button {
  font-size: 20px;
  background-color: rgba(93, 202, 85, 0.341);
  margin-bottom: 30px;
  margin-top: 40px;
  font-family: 'Alegreya';
}

.upload-button:hover {
  background-color: rgba(85, 191, 77, 0.211);
}

.cover-to-about-button {
  font-size: 20px;
  background-color: rgba(85, 191, 77, 0.211);
  align-items: center;
  position: static; 
  top: 50%;
  left: 50%;
  font-family: 'Alegreya';
}

.cover-to-about-button:hover {
  background-color:rgba(71, 181, 24, 0.675)
}

.str-button {
  font-size: 20px;
  background-color: rgba(85, 191, 77, 0.211);
  padding: 10px;
  margin-bottom: 20px;
  margin-top:5px;
  font-family: 'Alegreya';
}

.str-button:hover {
  background-color:rgba(71, 181, 24, 0.675)
}

.add-button {
  font-family: 'Alegreya';
  background-color:rgba(30, 30, 164, 0.855);
  align-content: center;  
}

.add-button:hover {
  background-color: rgb(36, 88, 183);
}

/* ********************** UPLOAD FORM ************************* */
.upload-form-modal {
 padding: 10px;
 background-color: rgba(64, 123, 60, 0.25);
}

.upload-text {
  font-family:'Alegreya';
  font: bold;
}

/* ********************** TEXT ************************* */

.wonderlust-header {
  font-size: clamp(3.2rem, 7vw, 9rem);
  font-family:'Cinzel', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  color: rgb(197, 226, 205);
  filter: drop-shadow(0 0 5px rgba(245, 245, 245, 0.46)); 
  align-items: center;
  position: static;
  margin-top: 25%;
}

.wonderlust-subtext {
  font-size: 26px;
  font-family:'Cinzel','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  color: rgb(237, 246, 240);
  filter: drop-shadow(0 0 5px rgba(245, 245, 245, 0.46)); 
  align-items: center;
  position: static;
}

.about-header {
  font-size: clamp(3.2rem, 7vw, 9rem);
  font-family: 'Cinzel', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  color: rgb(237, 246, 240);
  filter: drop-shadow(0 0 15px rgb(245, 245, 245)); 
  margin-top: 7%; 
}

.about-page-text {
  background-color: rgba(6, 6, 189, 0.077);
  border-radius: 2%;
  padding: 10px;
  font-size: clamp(1.3rem, 4vw, 1.9rem);
  font-family:'sans-serif','Lucida Sans Unicode';
  font-weight: 300;
}

.message {
  font-size: 26px;
  font-family:'Cinzel', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  color: rgba(30, 30, 164, 0.855);
  background-color: rgba(240, 248, 255, 0.686);
  filter: drop-shadow(0 0 30px rgb(245, 245, 245)); 
  align-items: center;
  position: static;
}

/* .text-start {
  position: relative;
  display:inline-block;
} */

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  text-align: left;
  align-items: left;
  flex-direction: column;
  font-family: 'Alegreya';
  font: bold; 
  font-size: small;
  background-color: rgba(128, 128, 128, 0.485);
  border-radius: 10%;
}

/*********************** FOOTER **************************/

.footer-v {
  font-family: 'Alegreya';
  margin-top: 5px;
  margin-bottom: 20px;
}

.button-effect {
  color: aliceblue; 
  display: block; 
  transform: scale(1.0);
}

.button-effect:hover {
  transform: scale(1.23);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.761));
}

.gh-link {
  color: aliceblue; 
}

.footer-name {
  font-size: large;
  color: aliceblue; 
}

.ap-link {
  color: rgba(29, 235, 14, 0.869); 
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
