
/* ************************ BACKGROUNDS ************************* */
.root {
  min-height: 100vh;
  background-image: url("../style/images/bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.about-page-bkgd {
  color: whitesmoke;
}


.picture-box {
  position: relative;
  filter: drop-shadow(0 0 30px rgb(245, 245, 245)); 
}

.picture-text {
  position: absolute; 
  align-items: flex-end;
  justify-content: left;
  display: flex;
}


.App {
  min-height: 100vh;
  min-width: 100vh;
  background-image: url("../style/images/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}


/* ********************** BUTTONS ************************* */

.region-button {
  background-color: rgba(191, 207, 190, 0.211);
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.welcome-button {
  background-color: rgb(93, 202, 85);
  margin-top: 5px;
}

.back-to-welcome {  
  background-color: rgb(93, 202, 85);
  margin-top: 20px;
}

.back-to-welcome:hover {
  box-shadow: 300px;
}

.delete-button {
  background-color: rgba(191, 207, 190, 0.211);
  margin-top: 5px; 
  margin-bottom: 5px;
}

.upload-button {
  background-color: rgb(93, 202, 85);
  margin-bottom: 30px;
  margin-top: 20px;
}

.cover-to-about-button {
  background-color: rgba(191, 207, 190, 0.211);
  align-items: center;
  position: static; 
  top: 50%;
  left: 50%;
}

.str-button {
  background-color: rgba(191, 207, 190, 0.211);
  padding: 10px;
  margin-bottom: 20px;
  margin-top:5px;
}



/* ********************** TEXT ************************* */

.welcome {
  font-size: clamp(3.2rem, 7vw, 9rem);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(174, 171, 171);
  filter: drop-shadow(0 0 15px rgb(245, 245, 245)); 
  align-items: center;
  position: static;
  margin-top: 25%;
}

.about-header {
  font-size: clamp(3.2rem, 7vw, 9rem);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(174, 171, 171);
  filter: drop-shadow(0 0 15px rgb(245, 245, 245)); 
  margin-top: 7%; 
}

.about-page-text {
  background-color: rgba(0, 0, 128, 0.4);
  border-radius: 2%;
  padding: 10px;
}

/*********************** FOOTER **************************/

.footer {
  padding-top: 50px;
  
}

.button-effect {
  color: aliceblue; 
  display: block; 
  transform: scale(1.0);
  padding-top: 100px;
}

.ap-link {
  color: rgb(27, 205, 196); 

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
